<div class="contenair">
   <div>
      <h1>Test d’entretien « GestForm »</h1>
   </div>
   <div class="mt-3">
      <h2>Énoncé</h2>
      <h6 class="mt-3">Soit une liste aléatoire de nombres entiers, compris entre -1000 et 1000.
         Pour chaque nombre n de liste, on veut effectuer les opérations suivantes:
         <ul class="list-group list-group-flush">
            <li class="list-group-item">si le nombre est divisible par 3 : on affiche Geste</li>
            <li class="list-group-item">si le nombre est divisible par 5 : on affiche Forme</li>
            <li class="list-group-item">si le nombre est divisible par 3 et par 5 : on affiche Gestform (d’où le nom du test)</li>
            <li class="list-group-item">sinon : on affiche le nombre n</li>
         </ul>
      </h6>
   </div> 
   <form [formGroup]="form">
      <div class="form-group mt-5">
         <input [formControl]="nombre" type="number" class="form-control" placeholder="Veuillez choisir le nombre d'élèments à afficher" required/>
      </div>
      <div>
         <button type="submit" class="button" [disabled]="form.invalid" (click)="createElement()">Valider</button>
       </div>
   </form>   
   {{listElement | json}}
</div>  